.messages-wrapper {
}


.messages-header {
}

.message-rows {
    overflow-y: scroll;
    /*max-height: calc(100vh - 50px - 31px);*/
    max-height: calc(100vh - 68px);
}

.messages-header,
.message-row {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% auto;
}

.message-row {
}


/*
.outer{
    overflow-y: auto;
    height:100%;
}

.outer table {
    width: 100%;
    table-layout: fixed;
    border: none;
}

.outer table th {
    text-align: left;
    top:0;
    position: sticky;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    padding: 2px 8px;
    vertical-align: top;
    background-color: #eee;
}
*/


/*
.midi-console.panel-wrapper {
    border-bottom: none;
}

.midi-console table {
    border-collapse: collapse;
    !*font-size: 14px;*!
}

.midi-console td {
    border: 1px solid #999;
    padding: 2px 8px;
    vertical-align: top;
}

.midi-console .data-txt {
    text-transform: lowercase;
    white-space: nowrap;
}

.midi-console .data {
    font-family: monospace;
    font-size: 12px;
    word-spacing: -3px;
}
*/

span.toggle_full {
    cursor: pointer;
    color: blue;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}